.change {
  padding-bottom: 50px;
}
@media (max-width: 575px) {
  .change .change-info img {
    width: 150px;
    height: 150px;
  }
  .change .change-info .change-info-name h3 {
    font-size: 20px;
  }
  .change .change-info p {
    font-size: 14px;
    margin: 15px 0 30px 0;
  }
}
@media (max-width: 414px) {
  .change .change-info p {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .change .change-info hr {
    width: 80px;
  }
  .change .change-info-kyc .change-heading .change-heading-img {
    width: 40px;
    height: 40px;
  }
  .change .change-info-kyc .change-heading .change-heading-img img {
    height: 15px;
  }
  .change .change-info-kyc .change-heading span {
    font-size: 16px;
  }
}
.change .change-info-kyc .change-form input {
  margin: 35px 0;
  font-size: 18px;
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .change .change-info-kyc .change-form input {
    font-size: 18px;
    margin: 20px 0;
    padding-bottom: 15px;
  }
}
@media (max-width: 414px) {
  .change .change-info-kyc .change-form input::-moz-placeholder {
    font-size: 16px;
  }
  .change .change-info-kyc .change-form input::placeholder {
    font-size: 16px;
  }
}
.change .change-info-kyc .change-form .form {
  position: relative;
}
.change .change-info-kyc .change-form .form .btn-none {
  position: absolute;
  bottom: 15px;
  right: 0;
  padding: 0;
  width: 20px;
  background: transparent !important;
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
.change .change-info-kyc .change-form .form .btn-none img {
  cursor: pointer;
}
@media (max-width: 575px) {
  .change .change-info-kyc .change-form .form .btn-none img {
    width: 20px;
    height: auto;
  }
}
.change .change-info {
  text-align: center;
  margin-top: 30px;
}
.change .change-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.change .change-info .change-info-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.change .change-info .change-info-name h3 {
  font-size: 32px;
  color: #f8f8f8;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.change .change-info .change-info-name img {
  width: auto;
  height: 25px;
}
.change .change-info p {
  color: #f0f0f0;
  margin: 30px 0 50px 0;
}
.change .change-info p span {
  margin: 0 20px;
}
.change .change-info hr {
  width: 100px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 94%, 0.435);
}
.change .change-info-kyc .change-heading {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.change .change-info-kyc .change-heading .change-heading-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.change .change-info-kyc .change-heading .change-heading-img img {
  width: auto;
  height: 20px;
}
.change .change-info-kyc .change-heading span {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.75px;
  color: #f8f8f8;
}
.change .change-info-kyc .change-form h5 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: aqua;
}
.change .change-info-kyc .change-form .form span {
  color: red;
  font-weight: 700;
  font-size: 20px;
}
.change .change-info-kyc .change-form .form span span {
  color: #ffc107;
  font-weight: 500;
  font-size: 16px;
}
.change .change-info-kyc .change-form .form .form-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
@media (max-width: 767px) {
  .change .change-info-kyc .change-form .form .form-content {
    flex-wrap: wrap;
  }
}
.change .change-info-kyc .change-form .form .form-content .form-enter {
  width: 70%;
  position: relative;
}
@media (max-width: 767px) {
  .change .change-info-kyc .change-form .form .form-content .form-enter {
    width: 100%;
  }
}
.change .change-info-kyc .change-form .form .form-content .form-enter input {
  width: 100%;
  font-size: 18px;
  padding-bottom: 20px;
  margin: 0;
}
.change .change-info-kyc .change-form .form .form-content .form-enter img {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.change .change-info-kyc .change-form .form .form-content button {
  width: 25%;
}
@media (max-width: 767px) {
  .change .change-info-kyc .change-form .form .form-content button {
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 515px) {
  .change .change-info-kyc .change-form .form .form-content button {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .change .change-info-kyc .change-form .form .form-content button {
    width: 100%;
  }
}