#stars {
  width: 1px;
  height: 1px;
  box-shadow: 1428px 1164px aqua, 445px 1026px aqua, 1159px 1714px aqua,
    1298px 628px aqua, 460px 1199px aqua, 926px 120px aqua, 1908px 236px aqua,
    1287px 616px aqua, 1428px 1782px aqua, 555px 796px aqua, 639px 836px aqua,
    557px 812px aqua, 27px 1377px aqua, 1830px 67px aqua, 1305px 39px aqua,
    1877px 1384px aqua, 197px 493px aqua, 1349px 1831px aqua, 9px 97px aqua,
    725px 1149px aqua, 266px 1409px aqua, 74px 1520px aqua, 1848px 1192px aqua,
    302px 1414px aqua, 1436px 771px aqua, 1874px 1285px aqua, 1611px 945px aqua,
    500px 551px aqua, 342px 692px aqua, 1264px 293px aqua, 1941px 1452px aqua,
    167px 993px aqua, 973px 1706px aqua, 276px 876px aqua, 1626px 116px aqua,
    245px 1766px aqua, 1734px 356px aqua, 1919px 872px aqua, 1652px 1838px aqua,
    1447px 170px aqua, 1245px 1112px aqua, 333px 1971px aqua, 1321px 435px aqua,
    983px 1508px aqua, 1155px 1385px aqua, 857px 73px aqua, 281px 1745px aqua,
    1116px 464px aqua, 615px 333px aqua, 797px 1756px aqua, 1658px 29px aqua,
    836px 504px aqua, 128px 877px aqua, 1699px 1670px aqua, 1016px 135px aqua,
    33px 294px aqua, 1585px 53px aqua, 1859px 904px aqua, 152px 876px aqua,
    1923px 937px aqua, 1685px 1489px aqua, 1566px 658px aqua, 1263px 43px aqua,
    1977px 540px aqua, 1304px 609px aqua, 694px 1740px aqua, 1301px 1275px aqua,
    1107px 1374px aqua, 135px 540px aqua, 225px 1713px aqua, 357px 236px aqua,
    1222px 1158px aqua, 956px 1822px aqua, 845px 798px aqua, 984px 1873px aqua,
    1942px 329px aqua, 1320px 1537px aqua, 807px 1818px aqua, 1047px 606px aqua,
    978px 541px aqua, 1853px 1646px aqua, 1479px 1295px aqua, 1904px 701px aqua,
    90px 1509px aqua, 878px 639px aqua, 154px 91px aqua, 1617px 1652px aqua,
    1945px 1118px aqua, 1532px 461px aqua, 200px 885px aqua, 1529px 296px aqua,
    699px 1504px aqua, 1881px 1822px aqua, 865px 687px aqua, 1757px 314px aqua,
    1164px 1486px aqua, 1660px 391px aqua, 829px 1872px aqua, 268px 1808px aqua,
    303px 520px aqua, 1797px 1465px aqua, 1697px 619px aqua, 1078px 1091px aqua,
    594px 793px aqua, 441px 312px aqua, 259px 482px aqua, 546px 1466px aqua,
    1921px 682px aqua, 262px 1665px aqua, 1250px 1061px aqua, 1009px 405px aqua,
    1372px 342px aqua, 84px 1302px aqua, 776px 1437px aqua, 425px 1156px aqua,
    1471px 1400px aqua, 1496px 1282px aqua, 238px 251px aqua, 1518px 1961px aqua,
    416px 667px aqua, 1853px 1310px aqua, 216px 353px aqua, 1974px 674px aqua,
    768px 771px aqua, 1743px 714px aqua, 1572px 1899px aqua, 1988px 351px aqua,
    1507px 89px aqua, 1084px 1265px aqua, 379px 1745px aqua, 1160px 721px aqua,
    1712px 1023px aqua, 1135px 1003px aqua, 1446px 551px aqua, 590px 192px aqua,
    959px 1180px aqua, 1640px 615px aqua, 1788px 1307px aqua, 1756px 1629px aqua,
    911px 1786px aqua, 1405px 1973px aqua, 1872px 1827px aqua, 171px 832px aqua,
    1908px 905px aqua, 622px 296px aqua, 935px 659px aqua, 195px 1753px aqua,
    46px 11px aqua, 107px 85px aqua, 1024px 1756px aqua, 1179px 1349px aqua,
    1765px 241px aqua, 1226px 1802px aqua, 911px 1975px aqua, 730px 1648px aqua,
    869px 616px aqua, 525px 458px aqua, 404px 591px aqua, 1039px 868px aqua,
    1243px 762px aqua, 1217px 207px aqua, 1190px 671px aqua, 922px 329px aqua,
    1942px 329px aqua, 620px 1741px aqua, 1073px 128px aqua, 719px 510px aqua,
    89px 1608px aqua, 1730px 652px aqua, 830px 786px aqua, 931px 1666px aqua,
    1981px 1033px aqua, 1854px 1769px aqua, 1903px 564px aqua,
    1590px 1181px aqua, 1902px 1310px aqua, 161px 1852px aqua,
    1790px 1878px aqua, 1736px 805px aqua, 99px 535px aqua, 1686px 717px aqua,
    1828px 1656px aqua, 1051px 1874px aqua, 716px 376px aqua, 1668px 1927px aqua,
    1356px 1791px aqua, 837px 1529px aqua, 39px 1743px aqua, 1714px 273px aqua,
    1144px 812px aqua, 1027px 221px aqua, 341px 480px aqua, 1487px 567px aqua,
    1651px 1186px aqua, 402px 380px aqua, 71px 612px aqua, 26px 1211px aqua,
    612px 289px aqua, 1121px 1673px aqua, 1378px 964px aqua, 190px 1860px aqua,
    1487px 175px aqua, 1030px 1634px aqua, 205px 511px aqua, 528px 1596px aqua,
    1674px 1184px aqua, 861px 604px aqua, 53px 1179px aqua, 1562px 111px aqua,
    332px 1286px aqua, 1127px 86px aqua, 1703px 1405px aqua, 994px 1007px aqua,
    967px 1967px aqua, 104px 999px aqua, 1419px 294px aqua, 703px 529px aqua,
    1175px 213px aqua, 1310px 1762px aqua, 933px 1138px aqua, 750px 267px aqua,
    1822px 1982px aqua, 497px 303px aqua, 1016px 1829px aqua, 1595px 138px aqua,
    714px 1962px aqua, 1560px 1946px aqua, 1666px 393px aqua, 191px 1376px aqua,
    1756px 1405px aqua, 779px 1708px aqua, 371px 338px aqua, 840px 26px aqua,
    897px 702px aqua, 362px 1511px aqua, 1637px 1116px aqua, 298px 1100px aqua,
    919px 633px aqua, 1272px 1139px aqua, 508px 1780px aqua, 1633px 1379px aqua,
    1451px 1531px aqua, 8px 1383px aqua, 1377px 1064px aqua, 1608px 459px aqua,
    192px 236px aqua, 239px 1708px aqua, 297px 1688px aqua, 1791px 1303px aqua,
    1741px 141px aqua, 1902px 1550px aqua, 1070px 1709px aqua, 708px 69px aqua,
    195px 1139px aqua, 627px 213px aqua, 1323px 708px aqua, 391px 1548px aqua,
    331px 835px aqua, 1975px 287px aqua, 1320px 664px aqua, 93px 403px aqua,
    1983px 1409px aqua, 727px 1116px aqua, 621px 120px aqua, 1125px 223px aqua,
    1797px 304px aqua, 1434px 704px aqua, 1463px 1087px aqua, 907px 223px aqua,
    1942px 1706px aqua, 669px 1121px aqua, 1760px 1796px aqua, 902px 745px aqua,
    1339px 1689px aqua, 1367px 530px aqua, 1513px 770px aqua, 1538px 1368px aqua,
    1511px 29px aqua, 214px 1923px aqua, 1240px 987px aqua, 1250px 1091px aqua,
    447px 1706px aqua, 1948px 378px aqua, 395px 770px aqua, 527px 842px aqua,
    677px 955px aqua, 948px 1138px aqua, 122px 110px aqua, 1910px 1376px aqua,
    1707px 1283px aqua, 1838px 1852px aqua, 569px 1104px aqua, 1336px 933px aqua,
    1579px 1504px aqua, 1304px 231px aqua, 134px 1318px aqua, 235px 1660px aqua,
    1805px 1990px aqua, 687px 863px aqua, 1733px 654px aqua, 501px 1445px aqua,
    1747px 1381px aqua, 1734px 1529px aqua, 982px 1571px aqua, 1895px 681px aqua,
    1826px 145px aqua, 589px 1897px aqua, 1376px 317px aqua, 1576px 331px aqua,
    1926px 518px aqua, 1345px 729px aqua, 1387px 816px aqua, 532px 389px aqua,
    849px 1753px aqua, 1270px 1681px aqua, 1773px 1723px aqua, 1832px 357px aqua,
    1753px 744px aqua, 245px 712px aqua, 1635px 1996px aqua, 1135px 1224px aqua,
    392px 1052px aqua, 351px 625px aqua, 1171px 927px aqua, 1318px 963px aqua,
    705px 1142px aqua, 1531px 640px aqua, 470px 196px aqua, 55px 487px aqua,
    1269px 45px aqua, 1517px 1109px aqua, 1336px 1892px aqua, 1692px 514px aqua,
    889px 921px aqua, 1082px 438px aqua, 1613px 806px aqua, 1084px 96px aqua,
    357px 804px aqua, 459px 332px aqua, 99px 1832px aqua, 1570px 945px aqua,
    795px 226px aqua, 195px 36px aqua, 977px 1609px aqua, 374px 1425px aqua,
    1747px 484px aqua, 1108px 1832px aqua, 571px 1576px aqua, 730px 1784px aqua,
    1195px 40px aqua, 1937px 1529px aqua, 1718px 1493px aqua, 1960px 730px aqua,
    355px 169px aqua, 283px 922px aqua, 828px 820px aqua, 143px 1008px aqua,
    250px 589px aqua, 1722px 201px aqua, 1754px 916px aqua, 1080px 1990px aqua,
    516px 1075px aqua, 33px 1987px aqua, 393px 1418px aqua, 435px 945px aqua,
    1859px 578px aqua, 630px 100px aqua, 363px 1421px aqua, 1340px 1100px aqua,
    161px 1936px aqua, 601px 1846px aqua, 535px 649px aqua, 905px 143px aqua,
    467px 223px aqua, 689px 727px aqua, 671px 1737px aqua, 394px 84px aqua,
    1557px 913px aqua, 1824px 432px aqua, 1401px 321px aqua, 101px 324px aqua,
    69px 1228px aqua, 25px 899px aqua, 1055px 904px aqua, 245px 1323px aqua,
    841px 535px aqua, 35px 1252px aqua, 1642px 1975px aqua, 900px 1971px aqua,
    623px 263px aqua, 1798px 264px aqua, 1091px 1786px aqua, 287px 1162px aqua,
    803px 779px aqua, 1724px 1516px aqua, 441px 1468px aqua, 361px 759px aqua,
    239px 288px aqua, 229px 637px aqua, 1341px 523px aqua, 1710px 1060px aqua,
    551px 762px aqua, 684px 200px aqua, 270px 358px aqua, 1498px 1061px aqua,
    1486px 1566px aqua, 1559px 1866px aqua, 1900px 1110px aqua,
    1998px 1701px aqua, 1285px 107px aqua, 1419px 365px aqua, 1152px 45px aqua,
    742px 1459px aqua, 1059px 870px aqua, 544px 1019px aqua, 1797px 249px aqua,
    736px 298px aqua, 765px 308px aqua, 103px 1473px aqua, 739px 1684px aqua,
    663px 924px aqua, 1317px 654px aqua, 519px 1650px aqua, 1011px 1621px aqua,
    185px 209px aqua, 933px 249px aqua;
  -webkit-animation: animStar 140s linear infinite;
  animation: animStar 140s linear infinite;
}
#stars,
#stars2 {
  background: transparent;
}
#stars2 {
  width: 2px;
  height: 2px;
  box-shadow: 1076px 1896px aqua, 404px 634px aqua, 525px 201px aqua,
    1369px 1229px aqua, 1255px 80px aqua, 481px 757px aqua, 1976px 462px aqua,
    938px 383px aqua, 180px 1275px aqua, 1691px 1864px aqua, 373px 1267px aqua,
    1412px 70px aqua, 130px 584px aqua, 1062px 406px aqua, 627px 858px aqua,
    936px 555px aqua, 1007px 148px aqua, 757px 1257px aqua, 1016px 630px aqua,
    1117px 1094px aqua, 20px 1773px aqua, 1162px 965px aqua, 1792px 534px aqua,
    721px 1695px aqua, 1613px 1595px aqua, 1068px 879px aqua, 1521px 418px aqua,
    1230px 727px aqua, 1344px 27px aqua, 277px 1659px aqua, 909px 1335px aqua,
    1339px 1083px aqua, 1971px 1011px aqua, 913px 1000px aqua, 706px 642px aqua,
    461px 1457px aqua, 915px 558px aqua, 586px 623px aqua, 1863px 679px aqua,
    1935px 1983px aqua, 514px 1404px aqua, 1507px 98px aqua, 351px 1978px aqua,
    1909px 1414px aqua, 816px 137px aqua, 1465px 1969px aqua, 165px 494px aqua,
    1692px 1567px aqua, 1196px 1211px aqua, 1070px 1097px aqua,
    230px 1103px aqua, 794px 259px aqua, 1031px 1698px aqua;
  -webkit-animation: animStar 180s linear infinite;
  animation: animStar 180s linear infinite;
}
#stars2:after {
  width: 1px;
  height: 1px;
  box-shadow: 1428px 1164px aqua, 445px 1026px aqua, 1159px 1714px aqua,
    1298px 628px aqua, 460px 1199px aqua, 1804px 907px aqua, 1141px 1011px aqua,
    1226px 1208px aqua, 1628px 1841px aqua, 1589px 1705px aqua,
    1453px 847px aqua, 1065px 1752px aqua, 1418px 492px aqua, 1328px 470px aqua,
    182px 1px aqua, 409px 1303px aqua, 209px 1716px aqua, 1161px 809px aqua,
    1577px 1292px aqua, 829px 768px aqua, 1951px 977px aqua, 1554px 1349px aqua,
    1904px 1876px aqua, 1097px 972px aqua, 876px 1172px aqua, 103px 1734px aqua,
    1799px 1554px aqua, 1311px 1974px aqua, 661px 604px aqua, 226px 1874px aqua,
    872px 495px aqua, 1563px 1175px aqua, 348px 797px aqua, 1829px 1351px aqua,
    473px 1262px aqua, 803px 256px aqua, 721px 1241px aqua, 1861px 1783px aqua,
    116px 51px aqua, 1379px 863px aqua, 177px 172px aqua, 42px 1256px aqua,
    1344px 279px aqua, 677px 1410px aqua, 271px 724px aqua, 1361px 45px aqua,
    243px 840px aqua, 1194px 1997px aqua, 1676px 907px aqua, 1433px 1394px aqua,
    1179px 1972px aqua, 1941px 1136px aqua, 987px 1343px aqua, 686px 512px aqua,
    1252px 811px aqua, 1178px 1448px aqua, 1985px 1634px aqua,
    1201px 1557px aqua, 1981px 449px aqua, 141px 1762px aqua, 1028px 887px aqua,
    788px 1174px aqua, 1351px 395px aqua, 444px 1451px aqua, 1427px 1155px aqua,
    1738px 573px aqua, 125px 730px aqua, 1315px 1400px aqua, 1571px 1532px aqua,
    669px 26px aqua, 787px 1659px aqua, 969px 152px aqua, 950px 1689px aqua,
    1409px 1477px aqua, 886px 668px aqua, 1120px 68px aqua, 1324px 1581px aqua,
    1785px 1243px aqua, 1578px 1200px aqua, 1519px 1460px aqua,
    1621px 277px aqua, 1099px 168px aqua, 1866px 1620px aqua, 1765px 1752px aqua,
    1161px 364px aqua, 784px 532px aqua, 335px 550px aqua, 115px 1031px aqua,
    1655px 1716px aqua, 492px 833px aqua, 247px 528px aqua, 1690px 1359px aqua,
    568px 1002px aqua, 655px 707px aqua, 1650px 32px aqua, 279px 194px aqua,
    517px 443px aqua, 1275px 109px aqua, 1337px 278px aqua, 1549px 171px aqua,
    579px 1735px aqua, 166px 20px aqua, 1997px 38px aqua, 1856px 529px aqua,
    696px 32px aqua, 1241px 400px aqua, 1579px 550px aqua, 1336px 1778px aqua,
    603px 741px aqua, 1790px 1747px aqua, 1140px 1412px aqua, 1890px 1835px aqua,
    162px 632px aqua, 649px 1348px aqua, 1397px 1771px aqua, 1960px 657px aqua,
    931px 1819px aqua, 1966px 1516px aqua, 204px 726px aqua, 209px 1692px aqua,
    1911px 1368px aqua, 250px 1282px aqua, 460px 103px aqua, 221px 1509px aqua,
    18px 637px aqua, 1037px 900px aqua, 1950px 676px aqua, 219px 1108px aqua,
    1438px 116px aqua, 89px 1298px aqua, 222px 1034px aqua, 841px 1568px aqua,
    403px 1305px aqua, 355px 283px aqua, 193px 239px aqua, 1474px 1074px aqua,
    1523px 82px aqua, 1304px 262px aqua, 1468px 1039px aqua, 1479px 1094px aqua,
    475px 1436px aqua, 693px 1630px aqua, 291px 888px aqua, 1864px 108px aqua;
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1076px 1896px aqua, 404px 634px aqua, 525px 201px aqua,
    1369px 1229px aqua, 1255px 80px aqua, 481px 757px aqua, 1976px 462px aqua,
    938px 383px aqua, 180px 1275px aqua, 1691px 1864px aqua, 373px 1267px aqua,
    1412px 70px aqua, 130px 584px aqua, 1062px 406px aqua, 627px 858px aqua,
    936px 555px aqua, 1007px 148px aqua, 757px 1257px aqua, 1016px 630px aqua,
    1117px 1094px aqua, 20px 1773px aqua, 1162px 965px aqua, 1792px 534px aqua,
    721px 1695px aqua, 1613px 1595px aqua, 1068px 879px aqua, 1521px 418px aqua,
    1230px 727px aqua, 1344px 27px aqua, 277px 1659px aqua, 909px 1335px aqua,
    1339px 1083px aqua, 1971px 1011px aqua, 913px 1000px aqua, 706px 642px aqua,
    461px 1457px aqua, 915px 558px aqua, 586px 623px aqua, 1863px 679px aqua,
    1935px 1983px aqua, 514px 1404px aqua, 1507px 98px aqua, 351px 1978px aqua,
    1909px 1414px aqua, 816px 137px aqua, 1465px 1969px aqua, 165px 494px aqua,
    1692px 1567px aqua, 1196px 1211px aqua, 1070px 1097px aqua,
    230px 1103px aqua, 794px 259px aqua, 1031px 1698px aqua, 727px 1249px aqua,
    1728px 155px aqua, 770px 1880px aqua, 1118px 94px aqua, 1946px 368px aqua,
    1162px 1525px aqua, 1942px 1345px aqua, 500px 1414px aqua, 924px 1531px aqua,
    272px 1977px aqua, 101px 1512px aqua, 735px 883px aqua, 86px 1031px aqua,
    585px 160px aqua, 213px 822px aqua, 1150px 60px aqua, 828px 1970px aqua;
}
#stars3 {
  box-shadow: 1850px 499px aqua, 1064px 1281px aqua, 312px 884px aqua,
    1672px 1779px aqua, 543px 1234px aqua, 1266px 244px aqua, 1454px 1388px aqua,
    938px 1760px aqua, 1559px 54px aqua, 411px 872px aqua, 526px 554px aqua,
    568px 276px aqua, 1586px 1207px aqua, 957px 597px aqua, 1800px 1261px aqua,
    154px 537px aqua, 208px 1874px aqua, 1074px 1213px aqua, 1486px 951px aqua,
    577px 513px aqua, 761px 1172px aqua, 44px 1063px aqua, 389px 1873px aqua,
    919px 955px aqua, 1218px 699px aqua, 1430px 1462px aqua, 1869px 914px aqua,
    1550px 1078px aqua, 1886px 1778px aqua, 1259px 1047px aqua,
    1956px 1165px aqua, 577px 14px aqua, 352px 715px aqua, 783px 1439px aqua,
    1576px 1324px aqua, 73px 278px aqua, 704px 1547px aqua;
  -webkit-animation: animStar 220s linear infinite;
  animation: animStar 220s linear infinite;
}
#stars3,
#stars3:after {
  width: 3px;
  height: 3px;
  background: transparent;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  box-shadow: 1850px 499px aqua, 1064px 1281px aqua, 312px 884px aqua,
    1672px 1779px aqua, 543px 1234px aqua, 1266px 244px aqua, 1454px 1388px aqua,
    938px 1760px aqua, 1559px 54px aqua, 411px 872px aqua, 526px 554px aqua,
    568px 276px aqua, 1586px 1207px aqua, 957px 597px aqua, 1800px 1261px aqua,
    154px 537px aqua, 208px 1874px aqua, 1074px 1213px aqua, 1486px 951px aqua,
    577px 513px aqua, 761px 1172px aqua, 44px 1063px aqua, 389px 1873px aqua,
    919px 955px aqua, 1218px 699px aqua, 1430px 1462px aqua, 1869px 914px aqua,
    1550px 1078px aqua, 1886px 1778px aqua, 1259px 1047px aqua,
    1956px 1165px aqua, 577px 14px aqua, 352px 715px aqua, 783px 1439px aqua,
    1576px 1324px aqua, 73px 278px aqua, 704px 1547px aqua, 1984px 1389px aqua,
    831px 30px aqua, 1354px 1381px aqua, 1287px 991px aqua, 784px 324px aqua,
    990px 1664px aqua, 846px 626px aqua, 1518px 559px aqua, 1340px 301px aqua,
    1182px 345px aqua, 1387px 35px aqua, 1924px 1732px aqua, 1390px 1346px aqua,
    648px 1041px aqua, 728px 1065px aqua, 680px 1092px aqua, 966px 1143px aqua,
    1272px 930px aqua, 1194px 446px aqua, 920px 1091px aqua, 1174px 91px aqua,
    1523px 287px aqua, 1392px 442px aqua, 814px 1593px aqua, 1134px 1971px aqua,
    1998px 1328px aqua, 808px 1660px aqua, 1791px 932px aqua, 1503px 1648px aqua,
    156px 847px aqua, 1750px 770px aqua, 460px 726px aqua, 607px 418px aqua,
    91px 1497px aqua, 182px 1036px aqua, 520px 1945px aqua, 851px 138px aqua,
    1326px 1368px aqua, 884px 457px aqua, 510px 109px aqua, 1051px 977px aqua,
    1965px 939px aqua, 1002px 1435px aqua;
}
#stars,
#stars1,
#stars2,
#stars3 {
  position: fixed;
}
@-webkit-keyframes animStar {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}